{% extends "::base.html.twig" %}

{% block title %}AppBundle:ksiazki:ksiazki{% endblock %}

{% block body %}
    <br>Tu kiedyś będą książki
    <p><a href="menu">powrót do menu</a></p>
{% endblock %}
