{% extends "::base.html.twig" %}

{% block title %}AppBundle:Test:menu{% endblock %}

{% block menu %}
    <table border="1" style="width:100%">
        <tr>
            <td><a href="ostronie">o stronie</a></td>
            <td><a href="filmy">filmy</a></td>
            <td><a href="ksiazki">książki</a></td>
            <td><a href="gry">gry</a></td>
        </tr>
    </table><br>
{% endblock %}
