{% extends "::base.html.twig" %}

{% block title %}AppBundle:Test:menu{% endblock %}

{% block body %}
    <h1>Witamy w menu głównym</h1>
    <p><a href="ostronie">o stronie</a></p>
    <p><a href="filmy">filmy</a></p>
    <p><a href="ksiazki">książki</a></p>
    <p><a href="gry">gry</a></p>
{% endblock %}
