{% extends '::base.html.twig' %}

{% block body -%}
    <h1>KsiazkaAutor</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idksiazkaautor</th>
                <td>{{ entity.idksiazkaautor }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ksiazkaautor') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ksiazkaautor_edit', { 'id': entity.idksiazkaautor }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
