{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UzytkownikOcenaFilm</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Iduzocfi</th>
                <td>{{ entity.idUzocfi }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('uzytkownikocenafilm') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('uzytkownikocenafilm_edit', { 'id': entity.idUzocfi }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
