{% extends "::base.html.twig" %}

{% block title %}AppBundle:ostronie:ostronie{% endblock %}

{% block body %}
<h1>Strona jest projektem na zajęcia z przedmiotu Inżynieria Internetu.</h1>
    <br>Projekt dotyczy tematyki związanej z informacjami o filmach, książkach, oraz grach
    <p><a href="menu">powrót do menu</a></p>
{% endblock %}
