{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UzytkownikOcenaKsiazka</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Iduzocks</th>
                <td>{{ entity.iduzocks }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('uzytkownikocenaksiazka') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('uzytkownikocenaksiazka_edit', { 'id': entity.iduzocks }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
